/*-------------General Styling------------------*/
body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: sans-serif;
}
h1,h2 {
	margin: 0;
	padding: 0;
	line-height: 2;
	width: 100%;
	text-align: center;
	background-color: #172A3A;
	color: white;
}
h2 {
	background-color: #004346;
}

/*-------------Start Section Chat------------------*/
section#chat ol {
	background-image: url(../img/chat-bg.jpg);
	background-size: cover;
	background-position: center;
	padding: 0 .3em;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
}
	section#chat ol li{
		width: auto;
		padding: .4em .6em;
		border-radius: 10px;
		margin: 1em 0;
	}
		section#chat ol li:nth-child(odd){
			background-color: #74B3CE;
			align-self: flex-end;
		}
		section#chat ol li:nth-child(even){				
			background-color: #508991;
			align-self: flex-start;
		}
			section#chat ol li p {
				font-size: 1.3em;
				margin: 0 0 .3em 0;
			}
			section#chat ol li footer {
				font-size: .5em;
				text-align: right;
			}
				section#chat ol li:nth-child(even) footer {
					text-align: left;
				}
				section#chat ol li footer p {
					margin: 0;
					color: #4f4f4f;
				}
section#chat form {
	display: flex;
	flex-direction: row;
	line-height: 2;
}
	section#chat form label {
		display: none;
	}
	section#chat form textarea {
		flex-grow: 5;
		border: 0;
		outline-color: #09BC8A;
		transition: .3s;
	}
	section#chat form button[type="submit"]{
		flex-grow: 1;
		background-color: #09BC8A;
		color: white;
		font-size: 1.2em;
		border: 0;
	}

/*-------------Start Section Login------------------*/
section#login form{
	background-color: #dae1e5;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-radius: 10px;
	width: 85%;
	max-width: 20em;
	padding: 1em;
	margin: 0 auto;
}
	section#login form label {
		flex-basis: 100%;
		font-size: 1.2em;
		margin-bottom: .2em;
	}
		section#login form label[for="field-stay-logged-in"] {
			flex-basis: 49%;
    		padding-left: 2%;
			font-size: 1em;
			line-height: 2;
		}
	section#login form input {
		flex-basis: 100%;
		line-height: 2;
		height: 2em;
		border: 0;
		border-radius: 5px;
		margin: 0 0 .8em 0;
	}
		section#login form input:focus{
			outline-style: none;
    		box-shadow: 0 0 .5em #09BC8A;
		}
		section#login form input:valid {
			outline-style: none;
			background-color: #eafcf2;
		}
		section#login form input[type="checkbox"]{
			position: absolute;
			clip: rect(0,0,0,0);
		}
			section#login form input[type="checkbox"] + label::before{
				content: '\a0';
				display: inline-block;
				vertical-align: .2em;
				width: .8em;
				height: .8em;
				margin-right: .2em;
				border-radius: .2em;
				background: silver;
				text-indent: .15em;
				line-height: .5;
			}
			section#login form input[type="checkbox"]:checked + label::before{
				content: '\2713';
				color: #fff;
				background-color: #09BC8A;
			}
			section#login form input[type="checkbox"]:hover + label::before{
				background-color: rgba(9, 188, 138,0.5);
			}
				section#login form input[type="checkbox"]:hover:checked + label::before{
					background-color: #09BC8A;
				}
	section#login form a {
		flex-basis: 45%;
		font-size: .8em;
		line-height: 2.8;
		vertical-align: center;
		text-align: right;
		color: #999;
		text-decoration: none;
	}
		section#login form a:hover {
			color: #09BC8A;	
		}
	section#login form button[type="submit"] {
		width: 100%;
		border: none;
		background-color: #09BC8A;
		line-height: 2;
		border-radius: 5px;
		font-size: 1.5em;
		color: white;
	}
		section#login form button[type="submit"]:focus {
			border: 5px green;
		}

/*-------------Start Section MediaItem------------------*/
section#media-item article{
	max-width: 40em;
}
	section#media-item article 