@font-face {
	font-family: Ampersand;
	src: url("../fonts/LibreBaskerville-Italic.ttf");
	unicode-range: U+26;
}

/*-------------General Styling------------------*/
body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.3;
	font-family: Ampersand, verdana ,sans-serif;
	height: 100vh;
	width: 100%;
	position: relative;
	background-color: #e6f5fb;
}
h1,h2 {
	margin: 0;
	padding: 0;
	line-height: 2;
	width: 100%;
	text-align: center;
	background-color: #508991;
	color: white;
}
h2 {
	background-color: #004346;
}
main {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
}
main + footer {
	background-color: #172A3A;
	text-align: center;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	color: #fff;
}

body.no-container main {
	background-color: transparent;
}
@media screen and (min-width: 40em){
	main {
		width: 70%;
	}
	body.no-container main {
		width: 100%;
		background-color: transparent;
	}
}
:focus {
	outline-color: white;
}
/*-------------Start Styling Header------------------*/
header {
	width: 100%;
	margin: 0;
	background-color: #74B3CE;
	display: flex;
	flex-direction: column;
}
	header a[alt="logo"] {
		line-height: 1.5;
		font-size: 2em;
		flex-basis: 100%;
		text-align: center;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		letter-spacing: 5px;
	}

/*-------------Start Styling Navigation------------------*/
header nav {
	flex-basis: 100%;
}
	header nav label {
		position: relative;
		background-color: #172A3A;
		flex-basis: 100%;
		font-size: 1.2em;
	    color: white;
	    text-align: center;
	    display: block;
	    line-height: 2;
	}
		header nav input[type="checkbox"] {
			display: none;
		}
		header nav input[type="checkbox"]:checked ~ ul {
			display: block;
		}
		header nav label:after {
			content: '';
			position: absolute;
			right: calc(50% - 95px);
			top: 10px;
			background-image: url('../img/down-arrow.svg');
			background-size: 1em;
			width: 1em;
			height: 1em;
		}
	header nav ul {
		display: none;
		padding: 0;
		margin: 0;
		list-style: none;
		max-width: 100%;
	}
		header nav li {
			max-width: 100%;
			background-color: #74B3CE;
		}
			header nav li a {
				line-height: 2;
				display: block;
				color: white;
				text-decoration: none;
    			padding-left: 1em;
			}
				header nav li a:focus {
					outline-color: #fff;
				}
			header nav li ul {
				display: block;
				padding-left: 2em;
				background-color: #508991;
			}
				header nav li ul li {
					background-color: #508991;
				}
					header nav li ul li a {
						line-height: 1;
						padding: 15px 0;
					}
@media screen and (min-width: 43em){
header {
	width: 100%;
	padding: 0 15%;
	box-sizing: border-box;
	flex-direction: row;
}
	header a[alt="logo"] {
		flex-basis: 30%;
		text-align: left;
	}
	header nav {
		flex-basis: 70%;
	}
		header nav label,
		header nav input {
			display: none;
		}
		header nav ul {
			display: block;
			max-width: 100%;
			text-align: right;
			position: relative;
		}
			header nav ul li a {
				line-height: 3;
			}
			header nav ul li {
				display: inline-block;
			}
			header nav ul li:hover {
				background-color: #b0d5e5;
			}
				header nav ul li a {
					padding: 0 1em;
				}
					header nav ul li ul {
						text-align: center;
						display: none;
						z-index: 100; /*Only needed because of the next component*/
					}
						header nav li li {
							padding: 0;
							display: block;
						}
						header nav li li:hover {
							background-color: #5cacce;
						}
						header nav li li a {
							padding: 0;
						}
				header nav ul li.has-sub:hover ul{
					display: block;
					width: 10em;
					padding: 0;
					position: absolute;
				}
}

/*-------------Start Series Overview------------------*/
section#media-items {
	color: #000;
}
	section#media-items article{
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
	}
		section#media-items article h1 {
			background-color: #508991;
			flex-basis: 100%;
		}
			section#media-items article h1 a {
				color: white;
				text-decoration: none;
			}
				section#media-items article h1 a:after {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}
	section#media-items img {
		flex-basis: 100%;
		width: 100%;
		height: 100%;
	}
	section#media-items p {
		flex-basis: 100%;
		width: 100%;
		height: 100%;
		margin-top: 0em;
		padding: 1em 0 1em 1em;
		margin-bottom: 0;
	}
	@media screen and (min-width: 36em){
		section#media-items {
			display: flex;
			flex-direction: column;
		}
			section#media-items article {
				flex-basis: 100%;
				margin: 0;
				height: auto;
			}
				section#media-items article h1 {
					flex-basis: 100%;
				}
				section#media-items img {
					flex-basis: 40%;
					width: 40%;
					height: auto;
				}
					section#media-items article:first-child img{
						flex-basis: 100%;
						width: 100%;
					}
				section#media-items p {
					flex-basis: 55%;
					padding: 10px;
					box-sizing: border-box;
					height: auto;
				}
					section#media-items article:first-child  p{
						flex-basis: 100%;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						text-align: center;
						background-color: rgba(255,255,255,0.7)
					}
	}

/*-------------Start Serie Info Page------------------*/
@media screen and (min-width: 40em){
	main#info {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
section#summary p {
	padding: 0 10px;
	box-sizing: border-box;
}
	section#summary p:nth-of-type(1){
		text-align: center;
		font-weight: bold;
		font-size: 1.2em;
	}
/*-------------Start Section Picture with a subtitle------------------*/
section#subtitle article {
	display: flex;
	flex-direction: column;
	position: relative;
}
	section#subtitle article h1 {
		order: 2;
		position: absolute;
		top: 0;
		right: 0;
		width: auto;
		padding: .4em 1em;
	}
	section#subtitle article figure {
		order: 1;
		margin: 0;
		font-size: 0;
	}
		section#subtitle article figure img {
			width: 100%;
			height: auto;
		}
	section#subtitle article figcaption {
		order: 3;
		padding: .3em 1em;
		background-color: #09BC8A;
		color: #fff;
		font-size: .9em;
		text-align: center;
	}
		section#subtitle article figcaption footer {
			font-size: .7em;
		}
			section#subtitle article figcaption footer a{
				color: #172A3A;
				text-decoration: none;
			}
@media screen and (min-width: 40em){
	section#subtitle {
		flex-basis: 80%;
		width: 80%;
	}
}
/*-------------Start Section Rating------------------*/
section#rating fieldset {
	border: none;
	max-width: 40em;
	margin: 0 auto;
	text-align: center;
}
	section#rating fieldset legend {
		display: none;
	}
	section#rating label {
		border-radius: 20px;
		width: 24%;
		float: left;
		display: inline-block;
		padding: 1em 0;
		font-size: .8em;
	}
		section#rating label svg {
			width: 5em;
			height: 5em;
			padding: 5px;
		}
	section#rating input {
		clip: rect(0,0,0,0);
		position: absolute;
	}
		section#rating input:hover + label,
		section#rating input:checked + label,
		section#rating input:focus + label {
			box-shadow: 0 0 20px #999;
		}
			section#rating input:hover + label svg,
			section#rating input:checked + label svg,
			section#rating input:focus + label svg {
				transform: scale(1.3);
				transition: .3s;
			}
@media screen and (min-width: 40em){

	section#rating {
		flex-basis: 20%;
		width: 20%;
		background-color: #508991;
		padding-top: 2em;
	}
	section#rating fieldset {
		display: flex;
		flex-direction: column;
		height: 100%;
		box-sizing: border-box;
		vertical-align: middle;
		width: 80%;
		margin: 0 auto;
	}
		section#rating label {
			float: none;
			flex-basis: 100%;
			width: 100%;
			padding: .5em 0;
			color: #fff;
		}
		section#rating label svg {
			width: 5em;
			height: 5em;
			padding: 5px;
			box-sizing: border-box;
		}

			section#rating input:hover + label,
			section#rating input:checked + label,
			section#rating input:focus + label {
				box-shadow: 0 0 20px #fff;
				background-color: #92c4cb;
				color: #111;
			}
}
@media screen and (min-width: 45em){
	section#rating fieldset {
		width: 60%;
	}
	section#rating label svg {
		width: 5em;
		height: 5em;
		padding: 10px;
	}
}
@media screen and (min-width: 52em){
	section#rating fieldset {
		width: 50%;
	}
	section#rating label svg {
		width: 5em;
		height: 5em;
		padding: 10px;
	}
}
@media screen and (min-width: 60em){
	section#rating fieldset {
		width: 45%;
	}
	section#rating label svg {
		width: 6em;
		height: 6em;
		padding: 10px;
	}
}
/*-------------Start Progress Bar------------------*/
section#step-indicator {
	padding-bottom: 30px;
}
	section#step-indicator progress {
		-webkit-appearance: none;
		appearance: none;
		width: 100%;
		height: 30px;
		margin-top: 10px;
	}
		section#step-indicator progress[value]::-webkit-progress-bar {
			background-color: #eee;
			border-radius: 2px;
	 		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		}
		section#step-indicator progress[value]::-webkit-progress-value {
			background-image:
				-webkit-linear-gradient(-45deg,
					transparent 33%, rgba(23, 42, 58, .1) 33%,
					rgba(9, 188, 138, .1) 66%, transparent 66%),
				-webkit-linear-gradient(top,
					rgba(255, 255, 255, .25),
					rgba(0, 0, 0, .25)),
				-webkit-linear-gradient(left, #172a3a, #09BC8A);
			border-radius: 2px;
			background-size: 35px 20px, 100% 100%, 100% 100%;
			}
	section#step-indicator ol {
		list-style: none;
		padding: 0;
		margin: 0;
	}
		section#step-indicator ol li {
			display: inline-block;
			margin-left: 5.5%;
		}
	@media screen and (min-width: 20em){
		section#step-indicator ol li {
			display: inline-block;
			margin-left: 6%;
		}
	}
	@media screen and (min-width: 30em){
		section#step-indicator {
			flex-basis: 100%;
		}
			section#step-indicator ol li {
				display: inline-block;
				margin-left: 7.2%;
			}
	}
	@media screen and (min-width: 60em){
		section#step-indicator {
			flex-basis: 100%;
		}
			section#step-indicator ol li {
				display: inline-block;
				margin-left: 8%;
			}
	}
/*-------------Start Section Login------------------*/
section#login {
	display: flex;
	align-items: center;
	height: calc(100vh - 3em);
	margin: auto;
}
section#login form{
	background-color: #fff;
	box-shadow: 0 0 10px #999;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-radius: 10px;
	width: 85%;
	max-width: 20em;
	padding: 1em;
	margin: 0 auto;
}
	section#login form label {
		flex-basis: 100%;
		font-size: 1.2em;
		margin-bottom: .2em;
	}
		section#login form label[for="field-stay-logged-in"] {
			flex-basis: 49%;
    		padding-left: 2%;
			font-size: 1em;
			line-height: 2;
		}
	section#login form input {
		flex-basis: 100%;
		line-height: 2;
		height: 2em;
		border: 0;
		border-radius: 5px;
		margin: 0 0 .8em 0;
	}
		section#login form input:focus{
			outline-style: none;
    		box-shadow: 0 0 .5em #09BC8A;
		}
		section#login form input:valid {
			outline-style: none;
			background-color: #eafcf2;
		}
		section#login form input:invalid {
			outline-style: none;
			background-color: #ffccd1;
		}
			section#login form input:invalid:focus{
				outline-style: none;
	    		box-shadow: 0 0 .5em #ff0000;
			}
		section#login form input[type="checkbox"]{
			position: absolute;
			clip: rect(0,0,0,0);
		}
			section#login form input[type="checkbox"]:focus + label {
				box-shadow: 0 0 .5em #09BC8A;
				border-radius: 5px;
			}
			section#login form input[type="checkbox"] + label::before{
				content: '\a0';
				display: inline-block;
				vertical-align: .2em;
				width: .8em;
				height: .8em;
				margin-right: .2em;
				border-radius: .2em;
				background: silver;
				text-indent: .15em;
				line-height: .5;
			}
			section#login form input[type="checkbox"]:checked + label::before{
				content: '\2713';
				color: #fff;
				background-color: #09BC8A;
			}
			section#login form input[type="checkbox"]:hover + label::before,
			section#login form label[for="field-stay-logged-in"]:hover::before{
				background-color: rgba(9, 188, 138,0.5);
			}
				section#login form input[type="checkbox"]:hover:checked + label::before{
					background-color: #09BC8A;
				}
	section#login form a {
		flex-basis: 45%;
		font-size: .8em;
		line-height: 2.8;
		vertical-align: center;
		text-align: right;
		color: #999;
		text-decoration: none;
	}
		section#login form a:hover {
			color: #09BC8A;
		}
		section#login form a:focus {
			outline-style: none;
			box-shadow: 0 0 .5em #09BC8A;
			border-radius: 5px;
		}
	section#login form button[type="submit"] {
		width: 100%;
		border: none;
		background-color: #09BC8A;
		line-height: 2;
		border-radius: 5px;
		font-size: 1.5em;
		color: white;
	}
		section#login form button[type="submit"]:hover {
			background-color: #03ad7d;
		}
		section#login form button[type="submit"]:focus{
			outline-style: none;
			box-shadow: 0 0 .5em #333;
		}

/*-------------Start Section Chat------------------*/
section#chat ol {
	background: hsl(181, 27%, 15%);
	background-image: 	linear-gradient(45deg, #09BC8A 11px, transparent 75%),
						linear-gradient(45deg, #508991 23px, transparent 75%);
	background-size: 41px 100%, 61px 100%;
	background-attachment: fixed;
	padding: 0 .8em;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 10.8em);
	max-width: 100%;
	overflow-y: scroll;
}
	section#chat ol li {
		width: auto;
		padding: .4em .6em;
		border-radius: 10px;
		margin: 1em 0 0 0;
	}
		section#chat ol li.send + li.send {
			margin: .1em 0;
		}
		section#chat ol li.received + li.received {
			margin: .1em 0;
		}
		section#chat ol li:focus {
			outline-style: none;
			box-shadow: 0 0 10px #999;
		}
		section#chat ol li.send{
			background-color: #74B3CE;
			align-self: flex-end;
			position: relative;
		}
			section#chat ol li.send:before {
				content: '';
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 0 18px 20px;
				border-color: transparent transparent transparent #74B3CE;
				top: 0;
				right: -11px;
				position: absolute;
			}
		section#chat ol li.received{
			background-color: #508991;
			align-self: flex-start;
			position: relative;
		}
			section#chat ol li.received:before {
				content: '';
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 20px 18px 0;
				border-color: transparent #508991 transparent transparent;
				top: 0;
				left: -11px;
				position: absolute;
			}
			section#chat ol li p {
				font-size: 1.3em;
				margin: 0 0 .3em 0;
			}
			section#chat ol li footer {
				font-size: .5em;
				text-align: right;
			}
				section#chat ol li.send footer {
					text-align: left;
				}
				section#chat ol li footer p {
					margin: 0;
					color: #4f4f4f;
				}
section#chat form {
	display: flex;
	flex-direction: row;
	line-height: 2;
}
	section#chat form label {
		display: none;
	}
	section#chat form textarea {
		flex-grow: 5;
		border-color: lightgrey;
		outline-color: #09BC8A;
		transition: .3s;
	}
	section#chat form button[type="submit"]{
		flex-grow: 1;
		background-color: #09BC8A;
		color: white;
		font-size: 1.2em;
		border: 0;
	}
	@media screen and (min-width: 33em){
		section#chat ol {
			height: calc(100vh - 8.5em);
		}
	}

/*LOADER*/
.loader-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255, 0.5);
}
.loader {
	border: 8px solid #172A3A;
	border-top: 8px solid #09BC8A;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin .8s linear infinite;
	position: absolute;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
